{% extends 'imagerie/base.html' %}

{% block content %}

<table>
    <tr>
      <td><h3>id : </h3></td>
      <td><h3>{{ modalite.id }}</h3></td>
    </tr>
    <tr>
      <td><h3>dénomination :</h3></td>
      <td><h3>{{ modalite.aet }}</h3></td>
    </tr>
    <tr>
      <td><h3>dénomination :</h3></td>
      <td><h3>{{ modalite.port }}</h3></td>
    </tr>
     <tr>
      <td><h3>dénomination :</h3></td>
      <td><h3>{{ modalite.machine_id }}</h3></td>
    </tr>
    <tr>
      <td><h3>date création :</h3></td>
      <td><h3>{{ modalite.datecreat }}</h3></td>
    </tr>
    <tr>
      <td><h3>date modification :</h3></td>
      <td><h3>{{ modalite.datemodif }}</h3></td>
    </tr>
  </table>

  {% endblock %}