<table>
    <tr>
      <td><h3>id : </h3></td>
      <td><h3>{{ marque.id }}</h3></td>
    </tr>
     <tr>
      <td><h3>dénomination :</h3></td>
      <td><h3>{{ marque.nom }}</h3></td>
    </tr>
    <tr>
      <td><h3>divers :</h3></td>
      <td><h3>{{ marque.divers|default_if_none:""}}</h3></td>
      </tr>
    <tr>
      <td><h3>date création :</h3></td>
      <td><h3>{{ marque.datecreat }}</h3></td>
    </tr>
    <tr>
      <td><h3>date modification :</h3></td>
      <td><h3>{{ marque.datemodif }}</h3></td>
    </tr>
  </table>