<table>
    <tr>
      <td><h4>id : </h4></td>
      <td><h4>{{ liste.id }}</h4></td>
    </tr>
     <tr>
      <td><h4>addrip :</h4></td>
      <td><h4>{{ liste.addrip|default_if_none:"" }}</h4></td>
    </tr>
    <tr>
      <td><h4>aet :</h4></td>
      <td><h4>{{ liste.aet|default_if_none:""}}</h4></td>
      </tr>
    <tr>
      <td><h4>port:</h4></td>
      <td><h4>{{ liste.port|default_if_none:"" }}</h4></td>
    </tr>
    <tr>
      <td><h4>masque:</h4></td>
      <td><h4>{{ liste.masque|default_if_none:"" }}</h4></td>
    </tr>
    <tr>
      <td><h4>modalite :</h4></td>
      <td><h4>{{ liste.modalite|default_if_none:"" }}</h4></td>
      </tr>
    <tr>
      <td><h4>hostname : </h4></td>
      <td><h4>{{ liste.hostname|default_if_none:"" }}</h4></td>
    </tr>
    <tr>
      <td><h4>systeme :</h4></td>
      <td><h4>{{ liste.systeme|default_if_none:""}}</h4></td>
      </tr>
    <tr>
      <td><h4>macadresse :</h4></td>
      <td><h4>{{ liste.macadresse|default_if_none:"" }}</h4></td>
    </tr>
    <tr>
      <td><h4>dicom :</h4></td>
      <td><h4>{{ liste.dicom|default_if_none:"" }}</h4></td>
    </tr>
    <tr>
      <td><h4>inventaire : </h4></td>
      <td><h4>{{ liste.inventaire|default_if_none:""}}</h4></td>
    </tr>
     <tr>
      <td><h4>remarque :</h4></td>
      <td><h4>{{ liste.remarque|default_if_none:"" }}</h4></td>
    </tr>
    <tr>
      <td><h4>appareil :</h4></td>
      <td><h4>{{ liste.appareil|default_if_none:""}}</h4></td>
    </tr>
    <tr>
        <td><h4>appareiltype :</h4></td>
        <td><h4>{{ liste.appareiltype|default_if_none:"" }}</h4></td>
      </tr>
    <tr>
      <td><h4>etablissement :</h4></td>
      <td><h4>{{ liste.etablissement|default_if_none:"" }}</h4></td>
    </tr>
    <tr>
      <td><h4>localisation :</h4></td>
      <td><h4>{{ liste.localisation|default_if_none:"" }}</h4></td>
    </tr>
    <tr>
      <td><h4>marque :</h4></td>
      <td><h4>{{ liste.marque|default_if_none:"" }}</h4></td>
    </tr>    
    <tr>
      <td><h4>vlan :</h4></td>
      <td><h4>{{ liste.vlan|default_if_none:"" }}</h4></td>
    </tr>
  </table>
