{% extends 'imagerie/base.html' %}

{% block content %}

<table>
    <tr>
      <td><h3>id : </h3></td>
      <td><h3>{{ machine.id }}</h3></td>
    </tr>
     <tr>
      <td><h3>dénomination :</h3></td>
      <td><h3>{{ machine.addrip }}</h3></td>
    </tr>
    <tr>
      <td><h3>date création :</h3></td>
      <td><h3>{{ machine.datecreat }}</h3></td>
    </tr>
    <tr>
      <td><h3>date modification :</h3></td>
      <td><h3>{{ machine.datemodif }}</h3></td>
    </tr>
  </table>

  {% endblock %}